.prawash-activity-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  .contents {
    margin: 100px 0;
    margin-top: 60px;
    width: 1269px;
    padding: 0 0.7em;
    display: flex;
    gap: 1.5em;
    .main-column {
      .top-head {
        // display: flex;
        // display: grid;
        // grid-template-columns: 1fr 5fr;
        gap: 3em;
        font-weight: 600;
        // .writer-side {
        //   margin-top: 1em;
        //   min-width: max-content;
        //   .img-name-wrap {
        //     display: flex;
        //     align-items: center;
        //     gap: 10px;
        //     .writer-img {
        //       width: 60px;
        //       border-radius: 50%;
        //     }
        //     .name-address-wrap {
        //       .name {
        //         // font-family: Roboto;
        //         font-weight: 600;
        //         font-size: 17px;
        //         color: $primaryGrey;
        //       }
        //       .address {
        //         font-size: 15.5px;
        //         color: grey;
        //       }
        //     }
        //   }
        //   .date-title-wrap {
        //     margin-top: 10px;
        //     display: flex;
        //     align-items: center;
        //     gap: 3px;
        //     font-weight: 400;
        //     color: $primaryGrey;
        //     .clock-icon {
        //       margin-top: -1px;
        //       width: 17px;
        //       height: 17px;
        //     }
        //   }
        //   .share-links-wrap {
        //     display: flex;
        //     gap: 0.5em;
        //     align-items: center;
        //     .num-link {
        //       display: flex;
        //       gap: -1em;
        //       flex-direction: column;
        //       text-align: center;
        //       color: rgb(112, 112, 112);

        //       .num {
        //         font-size: 18px;
        //         color: rgb(88, 88, 88);
        //       }
        //       .text {
        //         font-size: 12px;
        //         margin-top: -0.6em;
        //       }
        //     }
        //     .link-icon {
        //       width: 30px;
        //       height: 30px;
        //       padding: 6.5px;
        //       border-radius: 3px;
        //       color: #fff;
        //       cursor: pointer;
        //       transition: 0.3s;
        //     }
        //     .fb-icon {
        //       background-color: #1877f2;
        //       &:hover {
        //         background-color: #166ad7;
        //       }
        //     }
        //     .share-icon {
        //       background-color: #5ccc54;
        //       padding: 8px;
        //       &:hover {
        //         background-color: #4eae47;
        //       }
        //     }
        //   }
        // }
        .heading-side {
          .head {
            font-size: 40px;
          }
          .sec-head {
            font-size: 22px;
          }
        }
      }
      // @media screen and (max-width: 750px) {
      //   .top-head {
      //     grid-template-columns: 1fr;
      //     gap: 0em;
      //     .heading-side {
      //       grid-row-start: 1;
      //     }
      //   }
      // }
      @media screen and (max-width: 550px) {
        .top-head {
          .heading-side {
            .head {
              font-size: 27px;
            }
            .sec-head {
              font-size: 18px;
            }
          }
        }
      }
      .desc {
        margin-top: 3em;
        text-indent: 50px;
        font-size: 18px;
      }
      @media screen and (max-width: 550px) {
        .desc {
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 1268px) {
    .contents {
      width: 100%;
    }
  }
  @media screen and (max-width: 1107px) {
    .contents {
      flex-direction: column;
      gap: 3em;
    }
  }
}
@media screen and (max-width: 550px) {
  .prawash-activity-detail {
    padding-bottom: 1em;
    .contents {
      margin: 20px 0;
    }
  }
}
