.dastabej {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    font-family: Roboto;
    align-items: center;
    .section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 100px 0;
        width: 1284.5px;
        padding: 0em 1.2em;
        .heading-wrapper {
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .title {
                font-weight: 600;
                font-size: 40px;
                color: $primaryDarkBlue;
            }
        }
        @media screen and (max-width: 550px) {
            .heading-wrapper {
                .title {
                    font-size: 25px;
                }
                .see-more {
                    font-size: 12px;
                }
            }
        }
        .contents {
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin-top: 1.5em;
            .downloads-section {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                .section-head {
                    font-size: 23px;
                    font-family: "Playfair Display", serif;
                    font-weight: 600;
                    font-family: Roboto;
                }
                @media screen and (max-width: 900px) {
                    .section-head {
                        font-size: 15px;
                    }
                }
                .dastabej-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    .dastabej-card {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                        border: 1px solid silver;
                        width: 100%;
                        padding: 1.5em 0 1.5em 1.2em;
                        border-radius: 7px;
                        .icon-title-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover {
                                .card-title {
                                    text-decoration: underline;
                                }
                            }
                            .pdf-img {
                                height: 50px;
                            }
                            .card-title {
                                font-size: 17px;
                                color: $primaryBlue;
                            }
                        }
                        .view-btn {
                            margin-left: auto;
                            text-decoration: none;
                            border-radius: 50px 0 0 50px;
                            display: flex;
                            align-items: center;
                            gap: 0.5em;
                            color: #fff;
                            transition: 0.3s;
                            padding: 8px 30px;
                            cursor: pointer;
                            background-color: rgb(138, 138, 138);

                            .text {
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .eye-icon {
                                width: 20px;
                                height: 20px;
                                path {
                                    fill: #fff;
                                }
                            }
                            &:hover {
                                background-color: rgb(167, 165, 165);
                            }
                        }
                    }
                    @media screen and (max-width: 700px) {
                        .dastabej-card {
                            padding: 1em 0 1em 0.7em;
                            gap: 0.5em;
                            .icon-title-wrapper {
                                gap: 0.5em;

                                .pdf-img {
                                    height: 35px;
                                }
                                .card-title {
                                    font-size: 14px;
                                    color: $primaryBlue;
                                }
                            }
                            .view-btn {
                                padding: 5px 20px;
                                .text {
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                                .eye-icon {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 550px) {
            .contents {
                margin-top: 0.5em;
                .downloads-section {
                    gap: 0em;
                }
            }
        }
    }
    @media screen and (max-width: 1285px) {
        .section-wrapper {
            width: 100%;
        }
    }
    @media screen and (max-width: 1000px) {
        .section-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 700px) {
        .section-wrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
        }
    }
    @media screen and (max-width: 450px) {
        .section-wrapper {
            gap: 0.5em;
            row-gap: 1em;
        }
    }
    @media screen and (max-width: 550px) {
        .section-wrapper {
            padding: 0 16px;
            margin: 60px 0;
        }
    }
}
