.sub-company-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    .contents {
        margin: 100px 0;
        width: 1269px;
        padding: 0 0.7em;
        .sastha-intro {
            .sastha-head {
                border-bottom: 1px solid #000;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                font-weight: 600;
                font-size: 40px;
                color: $primaryDarkBlue;
            }
            @media screen and (max-width: 550px) {
                .sastha-head {
                    font-size: 25px;
                }
            }
            .sastha-img-wrapper {
                width: 100%;
                margin-top: 40px;
                display: grid;
                grid-template-columns: 1.4fr 1fr;
                gap: 2em;
                .sastha-text {
                    color: $primaryDarkBlue;
                    font-size: 18px;
                    line-height: 30px;
                    text-align: justify;
                }
                @media screen and (max-width: 550px) {
                    .sastha-text {
                        font-size: 15px;
                    }
                }
                .sastha-img {
                    width: 100%;
                }
            }
            @media screen and (max-width: 900px) {
                .sastha-img-wrapper {
                    grid-template-columns: 1fr;
                    gap: 1em;

                    .sastha-img {
                        width: 350px;
                        grid-row-start: 1;
                    }
                }
            }
            @media screen and (max-width: 550px) {
                .sastha-img-wrapper {
                    margin-top: 15px;
                }
            }
            @media screen and (max-width: 375px) {
                .sastha-img-wrapper {
                    .sastha-img {
                        width: 100%;
                    }
                }
            }
        }
        .karya-samiti {
            margin-top: 120px;
            .heading-wrapper {
                border-bottom: 1px solid #000;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .title {
                    font-weight: 600;
                    font-size: 40px;
                    color: $primaryDarkBlue;
                }
                .see-more {
                    cursor: pointer;
                    color: #000;
                    font-size: 18px;
                }
            }
            @media screen and (max-width: 550px) {
                .heading-wrapper {
                    .title {
                        font-size: 25px;
                    }
                    .see-more {
                        font-size: 12px;
                    }
                }
            }
            .cards-wrapper {
                width: 100%;
                margin-top: 40px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2em;
                .member-card {
                    .member-img {
                        height: 270px;
                    }
                }
                // .pdf-icon {
                //     // width: 200px;
                //     height: 270px;
                //     // margin: auto 0;
                // }
            }
            @media screen and (max-width: 1285px) {
                .cards-wrapper {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 3em 3em;
                }
            }
            @media screen and (max-width: 950px) {
                .cards-wrapper {
                    gap: 3em 1em;
                }
            }
            @media screen and (max-width: 850px) {
                .cards-wrapper {
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1em 1em;
                    .member-card {
                        .member-img {
                            height: 180px;
                        }
                        @media screen and (max-width: 700px) {
                            .member-img {
                                height: 150px;
                            }
                        }
                        @media screen and (max-width: 600px) {
                            .member-img {
                                height: 120px;
                            }
                        }
                        @media screen and (max-width: 400px) {
                            .member-img {
                                height: 100px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 550px) {
                .cards-wrapper {
                    margin-top: 15px;
                }
            }
            @media screen and (max-width: 500px) {
                .cards-wrapper {
                    grid-template-columns: 1fr;
                }
            }
            @media screen and (max-width: 500px) {
                .cards-wrapper {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            @media screen and (max-width: 350px) {
                .cards-wrapper {
                    grid-template-columns: repeat(2, 1fr);
                    .member-card {
                        .member-img {
                            height: 140px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 550px) {
            .karya-samiti {
                margin-top: 60px;
            }
        }
        .activities-wrapper {
            margin-top: 120px;
            width: 1269px;
            padding: 0 0.7em;
            .heading-wrapper {
                border-bottom: 1px solid #000;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                .title {
                    font-weight: 600;
                    font-size: 40px;
                    color: $primaryDarkBlue;
                }
                .see-more {
                    cursor: pointer;
                    color: #000;
                    font-size: 18px;
                }
            }
            @media screen and (max-width: 550px) {
                .heading-wrapper {
                    .title {
                        font-size: 25px;
                    }
                    .see-more {
                        font-size: 12px;
                    }
                }
            }
            .activities-card-wrapper {
                display: flex;
                flex-direction: column;
            }
            //   .sec-by-date-wrapper {
            //     margin-top: 40px;
            //     .articles-date {
            //       font-size: 18px;
            //       color: $primaryTitleDarker;
            //       border-bottom: 1px solid rgb(197, 197, 197);
            //     }
            //   }
        }
        @media screen and (max-width: 1268px) {
            .activities-wrapper {
                width: 100%;
            }
        }
        @media screen and (max-width: 550px) {
            .activities-wrapper {
                margin-top: 60px;
            }
        }
    }
    @media screen and (max-width: 1268px) {
        .contents {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .sub-company-page {
        .contents {
            margin: 60px 0;
        }
    }
}
