.footer {
    width: 100vw;
    // position: relative;
    // margin-top: 2.5em;
    background-color: $primaryDarkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contents {
        padding-top: 3em;
        padding-bottom: 1em;
        width: 1269px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        .social-icons {
            display: flex;
            width: max-content;
            column-gap: 1em;
            .icons {
                margin-top: 1.2em;
                display: flex;
                gap: 0.7em;
                .icon-wrapper {
                    width: 45px;
                    height: 45px;
                    min-width: 45px;
                    min-height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    .social-icon {
                        color: #fff;
                        font-size: 22px;
                        cursor: pointer;
                    }
                }
                .fb-wrapper {
                    background-color: #55acee;
                }
                .youtube-wrapper {
                    background-color: #f20000;
                }
                .gmail-wrapper {
                    background-color: #eeece0;
                    .gmail-icon {
                        color: #e8452b;
                    }
                }
            }
        }
        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            width: 100%;
            color: #fff;
            text-align: center;
            .hr-line {
                color: #fff;
                background-color: #fff;
                height: 0.5px;
            }
            .texts {
                padding: 0em 1em;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                column-gap: 1em;
            }
        }
        .copyright {
            margin-top: 2em;
            color: rgb(173, 173, 173);
            font-size: 13px;
            text-align: center;
        }
    }
    @media screen and (max-width: 1270px) {
        .contents {
            width: 100%;
        }
    }
    .bottom-bar-img {
        margin-top: 0.4em;
        width: 100%;
        width: 1269px;
    }
    @media screen and (max-width: 1270px) {
        .bottom-bar-img {
            width: 100%;
        }
    }
}
// @media screen and (max-width: 550px) {
//   .footer {
//     margin-top: 60px;
//   }
// }
