.spinner-wrapper {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.228);
}
.header {
    font-style: normal;
    display: flex;
    justify-content: center;
    .css-hip9hq-MuiPaper-root-MuiAppBar-root {
        padding-bottom: 0.2em;
        background-color: #fff;
        width: 100vw;
        color: #000;
        .css-i4bv87-MuiSvgIcon-root {
            color: $primaryGrey !important;
        }
        .css-7mt4h1-MuiInputBase-root {
            color: #000;
            border-radius: 5px;
        }
    }
    .css-yz9k0d-MuiInputBase-input {
        font: caption;
        font-size: 15px;
    }
    .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 0;
        width: 100%;
        // width: 100vw;
        .top-nav {
            width: 1269px;
            padding: 0 0.7em;
            font-family: Roboto;
            padding-top: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 100%;
            padding: 1em 9em;
            .c-flag {
                width: 120px;
                height: 120px;
            }
            .mid-wrapper {
                width: max-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                .tibetian-lipi {
                    // font-family: gyuchhen;
                    font-size: 35px;
                    font-weight: 400;
                    font-family: "Noto Serif Tibetan", serif;
                    text-align: center;
                }
                .name {
                    color: $primaryDarkBlue;
                    font-size: 47px;
                    font-weight: 600;
                    text-align: center;
                }
                .address {
                    color: $primaryDarkBlue;
                    font-size: 25px;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .c-logo {
                // width: 160px;
                // height: 160px;
                width: 120px;
                height: 120px;
            }
        }
        @media screen and (max-width: 1050px) {
            .top-nav {
                padding: 1em 5em;
            }
        }
        @media screen and (max-width: 950px) {
            .top-nav {
                padding: 0em 9em;
                margin-top: 1em;
                .c-flag {
                    width: 80px;
                    height: 80px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 30px;
                    }
                    .name {
                        font-size: 37px;
                    }
                    .address {
                        font-size: 20px;
                    }
                }
                .c-logo {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        @media screen and (max-width: 870px) {
            .top-nav {
                padding: 0em 7em;
                .c-flag {
                    width: 80px;
                    height: 80px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 30px;
                    }
                    .name {
                        font-size: 37px;
                    }
                    .address {
                        font-size: 20px;
                    }
                }
                .c-logo {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        @media screen and (max-width: 775px) {
            .top-nav {
                padding: 0em 4em;
            }
        }
        @media screen and (max-width: 670px) {
            .top-nav {
                padding: 0em 2em;
            }
        }
        @media screen and (max-width: 600px) {
            .top-nav {
                padding: 0em 0em;
            }
        }
        @media screen and (max-width: 520px) {
            .top-nav {
                .c-flag {
                    width: 60px;
                    height: 60px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 25px;
                    }
                    .name {
                        font-size: 30px;
                    }
                    .address {
                        font-size: 18px;
                    }
                }
                .c-logo {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        @media screen and (max-width: 410px) {
            .top-nav {
                .c-flag {
                    width: 50px;
                    height: 50px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 22px;
                    }
                    .name {
                        font-size: 25px;
                    }
                    .address {
                        font-size: 15px;
                    }
                }
                .c-logo {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        @media screen and (max-width: 360px) {
            .top-nav {
                .c-flag {
                    width: 40px;
                    height: 40px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 18px;
                    }
                    .name {
                        font-size: 22px;
                    }
                    .address {
                        font-size: 12px;
                    }
                }
                .c-logo {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        @media screen and (max-width: 300px) {
            .top-nav {
                .c-flag {
                    width: 35px;
                    height: 35px;
                }
                .mid-wrapper {
                    .tibetian-lipi {
                        font-size: 15px;
                    }
                    .name {
                        font-size: 19px;
                    }
                    .address {
                        font-size: 10px;
                    }
                }
                .c-logo {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .nav-menu {
            font-family: "Mukta", sans-serif;
            // border-top: 2px solid $primaryDarkBlue;
            width: 100%;
            padding: 0.5em 0em;
            display: flex;
            justify-content: center;
            gap: 3.5em;
            background-color: $primaryRed;
            .nav-item {
                position: relative;
                // color: $primaryDarkBlue;
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 0 5px;
                &:hover {
                    color: $primaryYellow;
                }
                // &:hover {
                //     .nav-link::after {
                //         content: "";
                //         position: absolute;
                //         height: 1px;
                //         width: 100%;
                //         background-color: #fff;
                //         bottom: -1.5px;
                //         border-radius: 10px;
                //         left: 50%;
                //         transform: translate(-50%);
                //         transform-origin: right;
                //         scale: 0 1;
                //         transition: scale 0.3s ease-in-out;
                //     }
                //     .nav-link::after {
                //         scale: 1 1;
                //         transform-origin: left;
                //     }
                // }
            }
            .nav-item::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: $primaryYellow;
                bottom: -1.5px;
                border-radius: 10px;
                left: 50%;
                transform: translate(-50%);
                transform-origin: right;
                scale: 0 1;
                transition: scale 0.3s ease-in-out;
            }
            .nav-item:hover::after {
                scale: 1 1;
                transform-origin: left;
            }
            // ------------styling with state--------------
            .active-nav-item {
                color: $primaryYellow;
            }
            .active-nav-item::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: $primaryYellow;
                bottom: -1.5px;
                border-radius: 10px;
                left: 50%;
                transform: translate(-50%);
                transform-origin: right;
                scale: 0 1;
                transition: scale 0.3s ease-in-out;
            }
            .active-nav-item::after {
                scale: 1 1;
                transform-origin: left;
            }
            // -----------------dropdown----------------------
            .dropdown {
                .nav-item {
                    display: flex;
                    gap: 1.5px;
                    align-items: center;
                    background-color: transparent;
                    font-size: 1.1rem;
                    border: none;
                    // color: $primaryDarkBlue;
                    color: #fff;
                    .drop-caret-icon {
                        width: 20px;
                        height: 20px;
                        margin-bottom: 2px;
                    }
                    // &:hover {
                    //     color: $primaryYellow;
                    // }
                    // &:hover {
                    // }
                }
                // position: relative;
                &:hover {
                    .nav-item {
                        color: $primaryYellow;
                        // border-bottom: 1px solid $primaryYellow;
                    }
                    .nav-item::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: $primaryYellow;
                        bottom: -1.5px;
                        border-radius: 10px;
                        left: 50%;
                        transform: translate(-50%);
                        transform-origin: right;
                        scale: 0 1;
                        transition: scale 0.3s ease-in-out;
                    }
                    .nav-item::after {
                        scale: 1 1;
                        transform-origin: left;
                    }
                }
            }
            .dropdown {
                display: inline-block;
                &:hover .hidden-dropdown {
                    display: block;
                }
            }
            .hidden-dropdown {
                height: max-content;
                width: max-content;
                display: none;
                position: absolute;
                min-width: 200px;
                padding-top: 8px;
                z-index: 2;
                .dropdown-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;
                    height: 100%;
                    line-height: 25px;
                    font-size: 1.1rem;
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    // border: 1px solid $primaryDarkBlue;
                    background-color: #fff;
                    padding: 5px 5px;
                    // a {
                    // position: relative;
                    //     padding: 5px 0;
                    //     text-decoration: none;
                    //     display: block;
                    //     padding: 0.5em 1em;
                    //     cursor: pointer;
                    // }
                    // .dropdown-content a:hover {
                    //     color: #fff;
                    // }
                    .drop-item {
                        padding: 5px 10px;
                        color: $primaryBlue;
                        cursor: pointer;
                        &:hover {
                            background-color: $primaryBlue;
                            color: #fff;
                        }
                    }
                }
            }

            //-------------------end of dropdown------------------
        }
        @media screen and (max-width: 950px) {
            .nav-menu {
                display: none;
            }
        }
        .toggle-icon {
            display: none;
            align-self: flex-end;
            color: #000;
            margin-right: 1em;
            margin-bottom: 0.5em;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
        @media screen and (max-width: 950px) {
            .toggle-icon {
                display: block;
            }
        }
        @media screen and (max-width: 409px) {
            .toggle-icon {
                margin-right: 0.5em;
            }
        }
        @media screen and (max-width: 360px) {
            .toggle-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    @media screen and (max-width: 729px) {
        .nav-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .left {
                .company-name {
                    cursor: default;
                    margin-left: 8px;
                    color: $primaryDarkBlue;
                }
            }
            .divider {
                border-bottom: 1px solid rgb(206, 206, 206);
                width: 93.5%;
                align-self: center;
                margin: 5px 0;
            }
            .right {
                .mail-wrapper {
                    margin-right: -0.5em;
                    margin-left: 0.8em;
                }
                .toggle-icon-wrapper {
                    margin-left: -5px;
                }
            }
        }
    }
    @media screen and (max-width: 410px) {
        .nav-wrapper {
            .left {
                .company-logo {
                    width: 60px;
                    height: 60px;
                }
                .company-name {
                    font-size: 22px;
                }
            }
        }
    }
    @media screen and (max-width: 1270px) {
        .top-border {
            .top-border {
                width: 100%;
                padding: 0;
            }
        }
        .nav-wrapper {
            width: 100%;
        }
    }
}
.css-1orzy9s {
    background-color: rgb(230, 230, 230) !important;
}
.css-i4bv87-MuiSvgIcon-root {
    color: #000 !important;
}

// -------------sidebar---------------
.sidebar {
    .company-title-wrapper {
        display: flex;
        align-items: center;
        gap: 0.7em;
        cursor: pointer;
        .company-logo {
            height: 50px;
            height: 50px;
        }
        .company-name {
            font-size: 23px;
            font-weight: 600;
            color: $primaryDarkBlue !important;
        }
    }
    .btn-close {
        margin-right: 0px;
    }
    .hr-line {
        margin-top: -0em;
        margin: 0 1.5em;
    }
    .items-wrapper {
        margin: 1em 0.5em 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 18px;
        overflow-y: auto;
        .nav-item {
            display: flex;
            align-items: center;
            gap: 1.2em;
            text-decoration: none;
            color: $primaryDarkBlue;

            cursor: pointer;
            &:hover {
                color: $primaryGrey;
            }
            .nav-icon {
                height: 25px;
                width: 25px;
            }
        }
        .dropdown-wrapper {
            .drop-nav-item {
                display: flex;
                justify-content: space-between;
                .indent-arrow {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                    transition: 0.1s;
                    color: $primaryDarkBlue;
                }
                .off-indent-arrow {
                    visibility: hidden;
                }
                .active-indent {
                    transform: rotate(90deg);
                }
            }
            .sublink-wrapper {
                margin-left: 1em;
                // margin-top: 15px;
                // display: flex;
                // flex-direction: column;
                // gap: 15px;
                .sublink-item {
                    margin-top: 10px;

                    cursor: pointer;
                    color: $primaryDarkBlue;
                    &:hover {
                        color: $primaryGrey;
                    }
                }
            }
        }
    }
}
